Exploración inicial del dataset LANL

En este primer notebook se va a realizar una exploración preeliminar de dataset de autenticación de Los Alamos National Laboratory (LANL).
El objetivo de este primer notebook es comprender la estructura y validar su idoneidad para la detección de anomalías en entornos IAM.

In [ ]:
import pandas as pd
import numpy as np

A continuación, vamos a definir el nombre de las cabeceras para diferenciar los tipos de datos que hay en la BBDD.
Para poder distinguir cada una de las columnas, se ha seguido la información proporcionada por la página web donde se encuentra el dataset.

In [ ]:
#Definición del nombre de las cabeceras
columns = [
    "time",
    "src_user",
    "dst_user",
    "src_comp",
    "dst_comp",
    "auth_type",
    "logon_type",
    "auth_otn",
    "auth_result"
]

Se realiza una primera carga parcial del dataset.

In [ ]:
#Se cargan un total de 10000 filas iniciales para poder distinguir el tipo de información que aparece.
df = pd.read_csv(
    "auth.txt",
    names=columns,
    nrows=10000
)

df.head()

,time,src_user,dst_user,src_comp,dst_comp,auth_type,logon_type,auth_otn,auth_result
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

In [24]:
df

,time,src_user,dst_user,src_comp,dst_comp,auth_type,logon_type,auth_otn,auth_result
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success
...,...,...,...,...,...,...,...,...,...
9995,95,U254@DOM1,U254@DOM1,C1590,C1772,Kerberos,Network,LogOn,Success
9996,95,U27@DOM1,U27@DOM1,C616,C1722,Kerberos,Network,LogOn,Success
9997,95,U356@DOM1,U356@DOM1,C1065,C1065,?,Network,LogOff,Success
9998,95,U356@DOM1,U356@DOM1,C555,C1065,Kerberos,Network,LogOn,Success
9999,95,U35@DOM1,U35@DOM1,C528,C528,?,Network,LogOff,Success

Analisis del comportamiento de los datos

In [25]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         10000 non-null  int64
 1   src_user     10000 non-null  str
 2   dst_user     10000 non-null  str
 3   src_comp     10000 non-null  str
 4   dst_comp     10000 non-null  str
 5   auth_type    10000 non-null  str
 6   logon_type   10000 non-null  str
 7   auth_otn     10000 non-null  str
 8   auth_result  10000 non-null  str
dtypes: int64(1), str(8)
memory usage: 703.3 KB

In [26]:
df.describe(include="all")

,time,src_user,dst_user,src_comp,dst_comp,auth_type,logon_type,auth_otn,auth_result
count,10000.000000,10000,10000,10000,10000,10000,10000,10000,10000
unique,NaN,2142,2391,1979,1709,8,7,5,2
top,NaN,U22@DOM1,U22@DOM1,C586,C586,?,Network,LogOn,Success
freq,NaN,369,369,378,835,4965,6382,5035,9904
mean,40.879100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,30.666538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,41.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,69.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df['auth_result'].value_counts()

auth_result
Success    9904
Fail         96
Name: count, dtype: int64

In [28]:
114./9904

0.011510500807754443

In [29]:
df["src_user"].nunique()

2142

CONVERSIÓN TEMPORAL

In [30]:
df["time"] = pd.to_datetime(df["time"], unit="s")
df["time"].head()

0   1970-01-01 00:00:01
1   1970-01-01 00:00:01
2   1970-01-01 00:00:01
3   1970-01-01 00:00:01
4   1970-01-01 00:00:01
Name: time, dtype: datetime64[s]